@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  display: inline-block;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  background-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.button {
  border-radius: 8px;
  padding-inline: 40px;
  padding-block: 16px;
  background: #9333ea;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
}

.button:hover {
  background-color: #6b1cb6;
}

.button--min {
  font-size: 16px;
  padding-inline: 28px;
  padding-block: 12px;
  line-height: 150%;
}

.button--transparent {
  background-color: transparent;
}

.button--white-border {
  border: 2px solid #fff;
  background-color: transparent;
}

.button--white-border:hover {
  border: 2px solid #9333ea;
}

.title {
  font-weight: 800;
  font-size: 56px;
  /* line-height: 62px; */
  line-height: 110%;
}

.title--center {
  text-align: center;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 46px;
  }
  .title {
    font-size: 40px;
  }
}
.blok-header__bg span {
  z-index: 2;
  position: relative;
}

.link--event {
  background: url("../img/link.svg") right no-repeat;
  padding-right: 35px;
  color: #9333ea;
}

.title--bleak {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #0f172a;
  color: #fff;
}

@media (max-width: 767.98px) {
  body {
    font-size: 16px;
  }
}
[class*=__conteiner] {
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  padding-block: 24px;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__conteiner {
  max-inline-size: 1030px;
}

.header__body {
  background-color: #192131;
  padding: 24px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 46px 1fr 46px auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 5px;
}

.header__link-logo {
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 5px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__link:hover {
  color: rgba(140, 94, 184, 0.8901960784);
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__button {
  display: none;
}

.icon-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .header {
    padding-block: 15px;
  }
  .header__body {
    padding: 15px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .actions-header {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    position: relative;
    z-index: 3;
  }
  .actions-header__button .button--min {
    padding-inline: 10px;
  }
}
@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    inset-inline-start: -100%;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;
    background-color: #0f172a;
    -webkit-padding-before: 105px;
            padding-block-start: 105px;
    padding-inline: 15px;
    -webkit-padding-after: 30px;
            padding-block-end: 30px;
    overflow: auto;
  }
  .menu:before {
    content: " ";
    position: fixed;
    z-index: 2;
    block-size: 64px;
    inset-inline-start: 15px;
    inset-inline-end: 15px;
    inset-block-start: 15px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #192131;
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    transition: visibility 0.3s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 15px;
    -webkit-padding-end: 18px;
            padding-inline-end: 18px;
  }
  .menu__link {
    font-size: 28px;
  }
  .icon-menu {
    display: block;
    position: relative;
    inline-size: 48px;
    block-size: 48px;
    z-index: 3;
  }
  .open-menu .menu {
    inset-inline-start: 0;
    -webkit-transition: inset-inline-start 0.3s;
    transition: inset-inline-start 0.3s;
  }
  .open-menu .menu::before {
    visibility: visible;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: " ";
    position: absolute;
    block-size: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before,
  .icon-menu::after {
    inline-size: 15px;
  }
  .icon-menu::before {
    inset-inline-start: 10px;
    inset-block-start: 14px;
  }
  .icon-menu::after {
    inset-inline-end: 10px;
    inset-block-end: 14px;
  }
  .icon-menu span {
    inset-inline-start: 50%;
    inset-block-start: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    inline-size: 28px;
  }
  .open-menu .icon-menu span {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    inline-size: 33px;
  }
  .open-menu .icon-menu::before {
    -webkit-transform: translate(0, 1px) rotate(45deg);
            transform: translate(0, 1px) rotate(45deg);
  }
  .open-menu .icon-menu::after {
    -webkit-transform: translate(0, -2px) rotate(45deg);
            transform: translate(0, -2px) rotate(45deg);
  }
  .header__body {
    -webkit-padding-start: 24px;
            padding-inline-start: 24px;
    -webkit-padding-end: 8px;
            padding-inline-end: 8px;
    padding-block: 8px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__link-logo {
    font-size: 20px;
  }
}
@media (max-width: 447.98px) {
  .menu__list:not(:last-child) {
    margin-bottom: 30px;
  }
  .actions-header__button {
    display: none;
  }
  .menu__button:not(:last-child) {
    margin-bottom: 15px;
  }
  .menu__button {
    display: block;
  }
}
[class*=page__] {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 991.98px) {
  [class*=page__] {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  [class*=page__] {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 439.98px) {
  [class*=page__] {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.hero__conteiner {
  text-align: center;
}

.hero__blok-header {
  margin-bottom: 80px;
}

.hero__image {
  max-width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
}

.blok-header {
  display: -ms-grid;
  display: grid;
  gap: 32px;
}

.blok-header--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blok-header__title {
  font-size: 72px;
  font-weight: 800;
  text-wrap: balance;
  /* line-height: 79px; */
  line-height: 110%;
}

.blok-header__title span {
  display: inline-block;
}

.blok-header__border,
.blok-header__line {
  position: relative;
}

.blok-header__bg,
.blok-header__border,
.blok-header__line span {
  position: relative;
  z-index: 2;
}

.blok-header__bg::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #be185d;
}

.blok-header__border::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 91%;
  height: 100%;
  border: 5px solid #C2410C;
}

.blok-header__line::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  background-color: #c084fc;
}

.blok-header__line--bottom:before {
  bottom: 0;
  left: 2px;
  width: 94%;
}

.blok-header__lite-purpur {
  color: #c084fc;
}

.blok-header__purpur {
  color: #9333ea;
}

.blok-header__line--top:before {
  top: 14px;
  left: 5px;
  width: 97%;
}

.blok-header__text {
  max-width: 760px;
  font-weight: 400;
  line-height: 160%;
  text-wrap: balance;
}

.blok-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .blok-header__title {
    font-size: 56px;
  }
  .blok-header__line::before {
    height: 4px;
  }
  .blok-header__line--top::before {
    top: 12px;
  }
  .hero {
    padding-top: 70px;
  }
  .hero__blok-header {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .blok-header__title {
    font-size: 40 px;
  }
  .blok-header__line::before {
    height: 3px;
  }
  .blok-header__line--top::before {
    top: 8px;
  }
  .hero {
    padding-top: 35px;
  }
  .hero__blok-header {
    margin-bottom: 48px;
  }
}
@media (max-width: 439.98px) {
  .blok-header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.hero {
  padding-top: 104px;
}

.companies__title:not(:last-child) {
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .companies__title:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .companies__title:not(:last-child) {
    margin-bottom: 48px;
  }
}
.lable {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.lable--margin {
  margin-bottom: 16px;
}

.companies__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discover__conteiner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 80px 29.6875%;
  grid-template-columns: 1fr 29.6875%;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 48px;
}

.discover__media {
  padding-top: 36px;
}

.discover__image {
  max-width: 100%;
}

.blok-header__link {
  color: white;
  padding-right: 35px;
  background: url("../img/Vector.svg") right no-repeat;
  -ms-grid-column-align: start;
      justify-self: start;
}

.blok-header__link span {
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.blok-header__link span:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #9333ea;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.blok-header__link:hover span::after {
  width: 100%;
}

@media (max-width: 991.98px) {
  .discover__conteiner {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .discover__conteiner {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
  }
  .discover__blok-header .blok-header__link {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.powerful__image {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
}

.powerful__conteiner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 35.15625% 80px 1fr;
  grid-template-columns: 35.15625% 1fr; /* 450/1280 */
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 48px;
}

.powerful__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767.98px) {
  .powerful__conteiner {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    justify-items: center;
  }
  .powerful__blok-header {
    justify-items: center;
    text-align: center;
  }
}
.custumers__conteiner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 80px 29.6875%;
  grid-template-columns: 1fr 29.6875%;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 48px;
}

@media (max-width: 991.98px) {
  .custumers__conteiner {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .custumers__conteiner {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
  }
  .custumers__blok-header .blok-header__link {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.custumers__media {
  padding-top: 37px;
}

.custumers__image {
  max-width: 100%;
}

.speed__conteiner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 35.15625% 80px 1fr;
  grid-template-columns: 35.15625% 1fr; /* 450/1280 */
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 48px;
}

.speed__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.speed__image {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .speed__conteiner {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    justify-items: center;
  }
  .speed__blok-header {
    justify-items: center;
    text-align: center;
  }
}
.testimonials {
  background-color: #581c87;
}

.testimonials__conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__image {
  max-width: 100%;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.item-testimonials {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.item-testimonials__text {
  line-height: 1.6;
}

.item-testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-testimonials__image {
  border-radius: 50%;
  overflow: hidden;
}

.item-testimonials__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-testimonials__name {
  font-size: 16px;
  line-height: 1.6;
}

.item-testimonials__position {
  font-size: 16px;
  line-height: 1.4;
}

@media (max-width: 991.98px) {
  .testimonials__conteiner {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .testimonials__conteiner {
    row-gap: 32px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    justify-items: center;
  }
  .testimonials__conteiner {
    justify-items: center;
    text-align: center;
  }
  .testimonials__blok-header .blok-header__link {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.events {
  background-color: #fff;
  color: black;
}

.events__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events__header:not(:last-child) {
  margin-bottom: 24px;
}

.events__link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.events__items {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(min(330px, 100%), 1fr));
}

.item-event {
  position: relative;
}

.item-event__category {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  background-color: #f3e8ff;
  color: #6b21a8;
  font-size: 14px;
  line-height: 1.6;
  padding: 2px 8px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  z-index: 2;
}

.item-event__category:hover {
  color: #fff;
  background-color: #6b21a8;
}

.item-event__link-image {
  display: block;
  overflow: hidden;
  border-radius: 5px;
}

.item-event__image {
  aspect-ratio: 410/220;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item-event__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.item-event__body {
  padding-top: 24px;
}

.body-item-event__category {
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
}

.body-item-event__category:hover {
  text-decoration: underline;
}

.body-item-event__category:not(:last-child) {
  margin-bottom: 4px;
}

.body-item-event__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  -webkit-transition: color 0.3;
  transition: color 0.3;
}

.body-item-event__title:hover {
  color: #6b21a8;
}

.body-item-event__title:not(:last-child) {
  margin-bottom: 28px;
}

.link--event span {
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.link--event span:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #9333ea;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.link--event:hover span::after {
  width: 100%;
}

@media (max-width: 991.98px) {
  .body-item-event__title {
    font-size: 32px;
  }
}
@media (max-width: 767.98px) {
  .body-item-event__title {
    font-size: 24px;
  }
}
.footer {
  background-color: #fff;
  color: black;
  border-top: 1px solid #cbd5e1;
}

.footer__body {
  padding-block: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
  font-weight: 700;
  font-size: 32px;
  /* line-height: 35px; */
  line-height: 110%;
  color: #0f172a;
}

.nav-footer {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
}

.nav-footer__title {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 18px; */
  line-height: 110%;
  color: #94a3b8;
}

.nav-footer__title:not(:last-child) {
  margin-bottom: 24px;
}

.nav-footer__item:not(:last-child) {
  margin-bottom: 24px;
}

.nav-footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 22px; */
  line-height: 140%;
  color: #0f172a;
}

.nav-footer__link:hover {
  text-decoration: underline;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  border-top: 1px solid #cbd5e1;
  padding-block: 48px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 5px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .footer__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}
@media (max-width: 520px) {
  .nav-footer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}